
/* GLOBAL DARK HACKER SCROLLBAR STYLE */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind bg-gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Tailwind green-400 */
  border-radius: 6px;
  border: 2px solid #1f2937;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #1f2937;
}



  code {
    background-color: #1f2937; /* Tailwind bg-gray-800 */
    color: #10b981;            /* Tailwind green-400 */
    font-family: monospace;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.9em;
  }

  pre code {
    display: block;
    padding: 1em;
    overflow-x: auto;
    white-space: pre;
    background-color: #111827; /* bg-gray-900 */
    border-left: 4px solid #10b981;
  }


/* Custom horizontal scrollbar for dark hacker theme */
#certificates-carousel::-webkit-scrollbar {
  height: 8px;
}

#certificates-carousel::-webkit-scrollbar-track {
  background: #1f2937; /* dark gray */
  border-radius: 4px;
}

#certificates-carousel::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Tailwind's green-400 */
  border-radius: 4px;
  border: 2px solid #1f2937;
}

/* Firefox scrollbar */
#certificates-carousel {
  scrollbar-color: #10b981 #1f2937;
  scrollbar-width: thin;
}


/* profile */

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}



.post-card {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.post-card.show {
  opacity: 1;
  transform: translateY(0);
}